<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeChat | Help</title>
</head>
<body>
    <div class="help-container">
        <h1> Welcome User</h1>
        <h2> Create a new group : </h2>
        <input type='text' id='groupName' placeholder="Name of the group"/> 
        <button onclick="createGroup()"> Create Group </button>
    </div>

    <script src="/frontend/jsFiles/help.js"></script>
</body>
</html>