<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Node website</title>
</head>
<body>
    <div class="main">
        <h1>Chatting app</h1>
        <form action="/chat" method="post">
            <label for="name">Your name :</label><br>
            <input type="text" name="name" id="name" placeholder="your name"><br>
            <label for="email">Your email :</label><br>
            <input type="email" name="email" id="email" placeholder="your email"><br>
            <label for="password">Your password :</label><br>
            <input type="password" name="password" id="password" placeholder="your password"><br>
            <input type="submit" value="submit" id="submit">
        </form>
    </div>
</body>
</html>