
body{
    height: 100vh;
    margin: 0;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width:30%;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main h1,h2{
    text-align: center;
}

#submit{
    background-color: blue;
    color: white;
    border-radius: 6px;
    padding: 0.3rem;
    margin-top: 0.5rem;
    width: 7rem;
    text-align: center;
}